<%- include("header")%>
<main class="not-found-main">
  <h1 class="hero-text">Error 404</h1>
  <p>Oops! page was not found.</p>
  <a class="btn-primary" href="/">Go Home</a>
</main>

<%- include("footer")%>