<%- include("header") %>
<section id="about" class="about-section">
        <h2>About Us</h2>

        <!-- Feature Cards -->
        <div class="feature-cards">
            
            <div class="feature-card">
                <h3>Abdussalam Sultan</h3>
                <p>
                    A passionate full-stack developer with experience in JavaScript, C#, Asp.NET Core, Node.js, and SQL Server. I enjoy building
                    scalable web applications with clean architecture and seamless user experiences, while constantly learning new tools and best
                    practices to stay ahead in the ever-evolving tech space.
                </p>
            </div>
            <div class="feature-card">
                 <h3>Timothy Olaleye</h3>
                    <p>
                        Results-driven Backend Developer with expertise in Node.js, Express, and databases
                        including MySQL and MongoDB. Skilled in building secure APIs, optimizing performance, and 
                        deploying scalable solutions. Strong problem-solver with experience in cloud platforms, Git, and agile 
                        practices, delivering efficient, reliable, and business-driven backend systems.
                    </p>
            </div>

            <div class="feature-card">
                <h3>Samuel Boman Elias</h3>
                <p>
                    I’m a frontend developer passionate about building responsive, user-friendly web applications. Skilled in React, SASS, and modern frontend practices, 
                    I’m now expanding into backend development with Node.js and Express to grow into a full-stack developer. With each project,
                     I aim to strengthen my problem-solving skills and create scalable, real-world solutions.
                </p>
            </div>
          
            <div class="feature-card">
                <h3>Abolarin Tobi</h3>
                <p>
                    I am a backend developer with foundational skills in JavaScript and Node.js. 
                    I enjoy building server-side applications and working with databases. 
                    As a newbie, I am eager to grow my expertise in backend development, focusing on writing 
                    clean, efficient code and learning industry best practices. 
                    and continuously improving my skills to keep up with the latest technologies.
               </p>
           </div>
           
           <div class="feature-card">
               <h3>Osazuwa Matthew Ogbebor</h3>
               <p>
                    A motivated full-stack developer with expertise in HTML, CSS, TailWindCss, JavaScript, React, Node.js, SQL Databases and MongoDB. I am committed to
                    delivering high-quality, optimised and scalable web solutions that provide excellent user experiences with robust and maintainable server systems, while continuously learning and adapting to new
                    technologies in the fast-paced tech world.
               </p>
           </div>
          
        </div>
        <!-- About Description -->
        <div class="about-description">
            <p>
                <strong>Group 4 – TechCrush Cohort 3 Mini Project: A Personal Portfolio Site built with EJS, featuring:</strong>
                    <ol>
                        <li>Node.js and Express.js for server-side logic</li>
                        <li>EJS templating for dynamic HTML rendering</li>
                        <li>CSS for styling and responsive design</li>
                        <li>Pages include Home, About, Projects, and Contact</li>
                        <li>Features include navigation menu, project listings, and contact form</li>
                    </ol>
            </p>
        </div>
    </section>
<%- include("footer") %>